{% extends 'base.html.twig' %}

{% block title %}New Carti{% endblock %}

{% block body %}
    <h1 style="margin-bottom: 20px">Adauga o carte noua</h1>

    {{ include('carti/_form.html.twig') }}

    <a href="{{ path('app_carti_index') }}">back to list</a>
{% endblock %}
